    <footer>
		<div>
			<div class="c-footer">
				<div class="u-container">
					<div class="u-hide-print">
						<div class="c-footer__header">
						</div>
						<div class="c-footer__grid">
							<div class="c-footer__group">
								<h3 class="c-footer__heading">About us</h3>
								<ul class="c-footer__list">
									<li class="c-footer__item"><a data-track="click">
                                        This team is composed of enthusiastic students from five different colleges and various majors. To spy out the secrets of directed evolution, a group of beginners are looking forward to creating extraordinary experiences and we did it.</a></li>
								</ul>
							</div>
							<div class="c-footer__group">
								<h3 class="c-footer__heading">About topic</h3>
								<ul class="c-footer__list">
									<li class="c-footer__item"><a data-track="click">Modular Enhancement of Melatonin Pathway by Evolutionary Optimization of Tryptophan Biosynthesis and AtCOMT Catalytic Function
										</a></li>
								</ul>
							</div>
							<div class="c-footer__group">
								<h3 class="c-footer__heading">Quicklinks</h3>
								<ul class="c-footer__list">
                  <li class="c-footer__item"><a href="{{ '/project/background.html' | relative_url }}"
											data-track="click" target="_blank">Background</a></li>
                  <li class="c-footer__item"><a href="{{ '/project/design.html' | relative_url }}"
											data-track="click" target="_blank">Design</a></li>
                  <li class="c-footer__item"><a href="{{ '/project/results.html' | relative_url }}"
											data-track="click" target="_blank">Result</a></li>
								</ul>
							</div>
							<div class="c-footer__group">
								<h3 class="c-footer__heading">Contact info</h3>
								<ul class="c-footer__list">
									<li class="c-footer__item"><a  data-track="click">
                                        Email : iDEC-2025 NEFU-China</a></li>
									<li class="c-footer__item"><a  data-track="click">
                                        Address : Northeast Forestry University, Harbin, Heilongjiang 150040, P. R. China</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="c-corporate-footer">
			<div class="u-container">
				<p class="c-corporate-footer__legal">iDEC-2025 NEFU-China</p>
			</div>
		</div>
	</footer>
