<header>
		  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/images/NEFU_China_logo.png' | relative_url }}" alt="Logo" class="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="{{ '/' | relative_url }}">Home</a></li>

          <!-- Team 下拉菜单 -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="teamDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Team
            </a>
            <ul class="dropdown-menu" aria-labelledby="teamDropdown">
              <li><a class="dropdown-item" href="#">Members</a></li>
              <li><a class="dropdown-item" href="#">Attribution</a></li>
            </ul>
          </li>

          <!-- Project 下拉菜单 -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="projectDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Project
            </a>
            <ul class="dropdown-menu" aria-labelledby="projectDropdown">
              <li><a class="dropdown-item" href="#">Background</a></li>
              <li><a class="dropdown-item" href="#">Design</a></li>
              <li><a class="dropdown-item" href="#">Results</a></li>
              <li><a class="dropdown-item" href="#">Report</a></li>
              <li><a class="dropdown-item" href="#">Supplementary information</a></li>
            </ul>
          </li>

          <!-- Document 下拉菜单 -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="projectDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Document
            </a>
            <ul class="dropdown-menu" aria-labelledby="projectDropdown">
              <li><a class="dropdown-item" href="#">Experiments</a></li>
              <li><a class="dropdown-item" href="/document/notebook.html">Notebook</a></li>
              <li><a class="dropdown-item" href="/document/safety.html">Safety</a></li>
              <li><a class="dropdown-item" href="/document/protocol">Protocol</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>

