<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ 'assets/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/footer.css' | relative_url }}">
  <link href="{{ '/assets/bootstrap.min.css' | relative_url }}" rel="stylesheet">
	<!-- Loading 区 -->
	<div id="loading"
    	class="position-fixed top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center"
     	style="z-index:1050; background-color:#ccecf9;">
			<img src="{{ '/assets/images/loading.gif' | relative_url }}" alt="Loading..." class="img-fluid" style="max-width:800px;">
  		<div class="mt-2 loading-text">Loading...</div>
	</div>


  <script src="{{ '/assets/bootstrap.bundle.min.js' | relative_url }}"></script>
  
</head>
<body>
  {% include menu.html %}
  <div id="progress-bar" style="z-index:9999"></div>

<button id="toTopButton" class="btn btn-light p-0 rounded-circle shadow position-fixed d-none" 
        style="bottom: 100px; right: 20px; width:80px; height: 80px;z-index: 999;">
		<img src="{{ '/assets/images/to-top.png' | relative_url }}" 
       alt="Back to Top" class="img-fluid">
</button>

  <main>
    {{ content }}
  </main>

  {% include footer.html %}

  <script src="{{ '/assets/script.js' | relative_url }}"></script>
</body>
</html>

