<header>
  <img src="https://static.igem.wiki/teams/5974/icons/logo1.webp" alt="NEFU-China Logo">
  <nav>
    <ul>
      <li><a href="./">Home</a></li>
      <li>
        <a href="#">Team</a>
        <ul>
          <li><a href="./contribution">Contribution</a></li>
          <li><a href="./members">Members</a></li>
          <li><a href="./attributions">Attribution</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Project</a>
        <ul>
          <li><a href="./description">Description</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">Implementation</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Wet Lab</a>
        <ul>
          <li><a href="./experiments">Experiments</a></li>
          <li><a href="./results">Result</a></li>
          <li><a href="./notebook">Notebook</a></li>
          <li><a href="safety-and-security">Safety</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Dry Lab</a>
        <ul>
          <li><a href="./model">Model</a></li>
        </ul>
      </li>
      <li>
        <a href="#">HP</a>
        <ul>
          <li><a href="#">Integrated Human Practice</a></li>
          <li><a href="#">Inclusity</a></li>
          <li><a href="./Education">Education</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

